/*sui*/
@font-face {
    font-family: 'SUI-BI';
    src: url(sui/SUI-BI.woff);
}
@font-face {
    font-family: 'SUI-B';
    src: url(sui/SUI-B.woff);
}
@font-face {
    font-family: 'SUI-I';
    src: url(sui/SUI-I.woff);
}
@font-face {
    font-family: 'SUI';
    src: url(sui/SUI.woff);
}
/*sui end*/

/*mon*/
@font-face {
    font-family: 'Mon-r';
    src: url(mon/Mon-R.ttf);
}

@font-face {
    font-family: 'Mon-b';
    src: url(mon/Mon-B.ttf);
}

@font-face {
    font-family: 'Mon-bi';
    src: url(mon/Mon-BI.ttf);
}

@font-face {
    font-family: 'Mon-bl';
    src: url(mon/Mon-BL.ttf);
}

@font-face {
    font-family: 'Mon-bli';
    src: url(mon/Mon-bli.ttf);
}

@font-face {
    font-family: 'Mon-eb';
    src: url(mon/Mon-EB.ttf);
}

@font-face {
    font-family: 'Mon-ebi';
    src: url(mon/Mon-EBI.ttf);
}

@font-face {
    font-family: 'Mon-i';
    src: url(mon/Mon-I.ttf);
}

@font-face {
    font-family: 'Mon-l';
    src: url(mon/Mon-L.ttf);
}

@font-face {
    font-family: 'Mon-li';
    src: url(mon/Mon-li.ttf);
}

@font-face {
    font-family: 'Mon-m';
    src: url(mon/Mon-M.ttf);
}

@font-face {
    font-family: 'Mon-mi';
    src: url(mon/Mon-MI.ttf);
}

@font-face {
    font-family: 'Mon-t';
    src: url(mon/Mon-T.ttf);
}

@font-face {
    font-family: 'Mon-ti';
    src: url(mon/Mon-ti.ttf);
}

@font-face {
    font-family: 'Mon-sb';
    src: url(mon/Mon-sB.ttf);
}

@font-face {
    font-family: 'Mon-sbi';
    src: url(mon/Mon-sbI.ttf);
}

@font-face {
    font-family: 'Mon-el';
    src: url(mon/Mon-EL.ttf);
}

@font-face {
    font-family: 'Mon-eli';
    src: url(mon/Mon-ELI.ttf);
}

/*mon end*/


/*pop*/

@font-face {
    font-family: 'pop-b';
    src: url(pop/Pop-B.ttf);
}

@font-face {
    font-family: 'pop-bi';
    src: url(pop/Pop-BI.ttf);
}

@font-face {
    font-family: 'pop-bli';
    src: url(pop/Pop-BLI.ttf);
}

@font-face {
    font-family: 'pop-eb';
    src: url(pop/Pop-EB.ttf);
}

@font-face {
    font-family: 'pop-eb';
    src: url(pop/Pop-EB.ttf);
}

@font-face {
    font-family: 'pop-ebi';
    src: url(pop/Pop-EBI.ttf);
}

@font-face {
    font-family: 'pop-el';
    src: url(pop/Pop-EL.ttf);
}

@font-face {
    font-family: 'pop-eli';
    src: url(pop/Pop-ELI.ttf);
}

@font-face {
    font-family: 'pop-i';
    src: url(pop/Pop-I.ttf);
}

@font-face {
    font-family: 'pop-l';
    src: url(pop/Pop-L.ttf);
}

@font-face {
    font-family: 'pop-li';
    src: url(pop/Pop-LI.ttf);
}

@font-face {
    font-family: 'pop-m';
    src: url(pop/Pop-M.ttf);
}

@font-face {
    font-family: 'pop-mi';
    src: url(pop/Pop-MI.ttf);
}

@font-face {
    font-family: 'pop-r';
    src: url(pop/Pop-R.ttf);
}

@font-face {
    font-family: 'pop-sb';
    src: url(pop/Pop-sB.ttf);
}

@font-face {
    font-family: 'pop-sbi';
    src: url(pop/Pop-sbI.ttf);
}

@font-face {
    font-family: 'pop-T';
    src: url(pop/Pop-T.ttf);
}

@font-face {
    font-family: 'pop-ti';
    src: url(pop/Pop-TI.ttf);
}

/*pop end*/

/*ub start*/
@font-face {
    font-family: 'ub-B';
    src: url(ub/Ub-B.ttf);
}

@font-face {
    font-family: 'ub-BI';
    src: url(ub/Ub-BI.ttf);
}

@font-face {
    font-family: 'ub-I';
    src: url(ub/Ub-I.ttf);
}

@font-face {
    font-family: 'ub-L';
    src: url(ub/Ub-L.ttf);
}

@font-face {
    font-family: 'ub-LI';
    src: url(ub/Ub-LI.ttf);
}

@font-face {
    font-family: 'ub-MI';
    src: url(ub/Ub-MI.ttf);
}

@font-face {
    font-family: 'ub-M';
    src: url(ub/Ub-M.ttf);
}

@font-face {
    font-family: 'ub-r';
    src: url(ub/Ub-r.ttf);
}
/*ub-end*/

